@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  --title-duration: 500ms;
  --sub-title-duration: 500ms;
  --nav-duration: 200ms;
  --btn-grow-duration: 200ms;
  --scroll-down-duration: 200ms;
  --sub-title-delay: calc(var(--title-duration) - 200ms);
  --nav-delay: calc(var(--sub-title-delay) + var(--sub-title-duration));
  --btn-grow-delay: var(--nav-delay);
  --scroll-down-delay: var(--nav-delay);
  --taktik-red: #cc181e;
  --taktik-pale-red: #e73238;
  --taktik-black: #121316;
  --taktik-dark-grey: #1e1f24;
  --taktik-grey: #121316;
  --taktik-full-black: #000000;
  --taktik-full-white: #ffffff;
  --taktik-pale-grey: #c7c8cb;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--taktik-black);
}

.full-screen-header {
  height: 100vh;
  background-image: url("../images/shutterstock_1151254004-lg.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: var(--taktik-red);
  position: relative;
  overflow: hidden;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--taktik-black);
  padding: 0.5rem 1rem;
}

.nav-top {
  /* position: fixed; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-animation: nav-enter var(--nav-duration) var(--nav-delay) backwards;
          animation: nav-enter var(--nav-duration) var(--nav-delay) backwards;
}

.logo {
  width: 50px;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list a {
  text-decoration: none;
  margin-left: 1rem;
  color: white;
  -webkit-transition: color 100ms;
  transition: color 100ms;
}

.nav-list a:hover {
  color: #ccc;
}

.title {
  font-size: 5rem;
  margin: 10% 0 0 0;
}

.under-construction {
  font-size: 1.5rem;
  margin: 5% 10%;
  padding: 2%;
  color: var(--taktik-pale-grey);
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  -webkit-box-shadow: 0 0 10px #cc181e;
          box-shadow: 0 0 10px #cc181e;
}

.under-construction p {
  text-shadow: 0 0 25px var(--taktik-ful);
}

.under-construction-accent-txt {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  font-family: "Michroma", sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  -webkit-filter: blur(0.75px);
          filter: blur(0.75px);
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px white, 0 0 80px white, 0 0 160px white;
}

.glow {
  font-family: "Michroma", sans-serif;
  text-transform: uppercase;
  -webkit-filter: blur(0.75px);
          filter: blur(0.75px);
  font-weight: 100;
  text-shadow: 0 0 10px #cc181e, 0 0 20px #cc181e, 0 0 40px #cc181e, 0 0 80px #cc181e, 0 0 160px #cc181e;
  -webkit-animation: glow-anim 2.5s ease-in-out infinite;
          animation: glow-anim 2.5s ease-in-out infinite;
}

.neon-red {
  font-family: "Michroma", sans-serif;
  text-transform: uppercase;
  -webkit-filter: blur(0.75px);
          filter: blur(0.75px);
  font-weight: 100;
  text-shadow: 0 0 10px #cc181e, 0 0 20px #cc181e, 0 0 40px #cc181e, 0 0 80px #cc181e, 0 0 160px #cc181e;
}

.neon-white {
  font-family: "Michroma", sans-serif;
  text-transform: uppercase;
  -webkit-filter: blur(0.75px);
          filter: blur(0.75px);
  font-weight: 100;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px white, 0 0 80px white, 0 0 160px white;
}

.sub-title {
  font-size: 2.5rem;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  color: var(--taktik-pale-grey);
  text-shadow: 0 0 10px white;
  text-transform: uppercase;
  font-family: "Michroma", sans-serif;
  letter-spacing: 10px;
  -webkit-animation: sub-title-enter var(--sub-title-duration) var(--sub-title-delay) backwards;
          animation: sub-title-enter var(--sub-title-duration) var(--sub-title-delay) backwards;
}

.btn {
  background-color: var(--taktik-red);
  color: white;
  border-radius: 5px;
  padding: 0.25em 1em;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.btn:hover,
.btn:focus {
  background-color: var(--taktik-pale-red);
}

.nav-icon {
  width: 30px;
}

.scroll-down-icon {
  position: absolute;
  bottom: 0;
  width: 60px;
  -webkit-animation: scroll-down-bounce calc(var(--scroll-down-duration) + var(--scroll-down-delay)) 1s alternate infinite linear, scroll-down-enter var(--scroll-down-duration) var(--scroll-down-delay) backwards;
          animation: scroll-down-bounce calc(var(--scroll-down-duration) + var(--scroll-down-delay)) 1s alternate infinite linear, scroll-down-enter var(--scroll-down-duration) var(--scroll-down-delay) backwards;
}

.section {
  color: var(--taktik-pale-grey);
  background-color: var(--taktik-black);
  padding: 4rem;
}

.section-title {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  text-align: center;
  color: var(--taktik-red);
}

.section-title.accent {
  color: var(--taktik-full-white);
}

.curriculum-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 450px))[2];
      grid-template-columns: repeat(2, minmax(auto, 450px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 10px;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.curriculum-grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.curriculum-grid a {
  text-decoration: none;
  /* color: black; */
  color: #006699;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.curriculum-grid a:hover {
  color: #00aaff;
  /* transform: scale(1.01); */
}

.curriculum-grid-item:hover img {
  -webkit-animation: shake 100ms;
          animation: shake 100ms;
}

.curriculum-grid-item img {
  width: 50px;
  margin-right: 1rem;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 1;
}

.box {
  position: relative;
  width: 400px;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--taktik-grey);
  margin: 40px;
  text-align: center;
}

.box:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}

.box:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
  -webkit-filter: blur(40px);
          filter: blur(40px);
}

.box:nth-child(1):before,
.box:nth-child(1):after {
  background: linear-gradient(235deg, var(--taktik-red), var(--taktik-black), var(--taktik-pale-red));
}

.box:nth-child(2):before,
.box:nth-child(2):after {
  background: linear-gradient(235deg, var(--taktik-pale-grey), var(--taktik-black), var(--taktik-full-white));
}

.box:nth-child(3):before,
.box:nth-child(3):after {
  background: linear-gradient(235deg, var(--taktik-red), var(--taktik-black), var(--taktik-pale-red));
}

.box .glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: block;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box .content {
  padding: 20px;
  color: #fff;
}

.section-accent {
  background: url("../images/shutterstock_511268581-lg.jpg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: -1;
}

.form {
  max-width: 900px;
  margin: 0 auto;
}

.form label {
  color: var(--taktik-pale-grey);
  font-weight: bold;
}

.form input,
.form textarea {
  width: 100%;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  outline: none;
  border: 1px solid #1b2522;
  border-radius: 0.3em;
  padding: 0.5em;
  color: inherit;
  font-family: inherit;
  -webkit-transition: border-color 100ms;
  transition: border-color 100ms;
}

.form textarea {
  resize: vertical;
  min-height: 75px;
  max-height: 200px;
}

.form input:focus,
.form textarea:focus {
  border-color: var(--taktik-pale-red);
}

.btn-container {
  text-align: end;
}

.btn-square {
  border-radius: 0.3em;
}

.pricing-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing-card {
  padding: 1rem;
  background-color: var(--taktik-black);
  border: 1px solid black;
  border-radius: 0.3em;
  margin: 1rem 0;
  max-width: 50vh;
  color: var(--taktik-pale-grey);
  -webkit-transition: -webkit-transform 100ms;
  transition: -webkit-transform 100ms;
  transition: transform 100ms;
  transition: transform 100ms, -webkit-transform 100ms;
}

.pricing-card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.pricing-card.accent {
  margin: 0;
}

.pricing-card:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.pricing-card:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.price-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.plan-name {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.plan-price {
  font-size: 1.25rem;
  font-weight: bold;
}

.plan-image {
  max-width: 90%;
  margin-top: 1.5rem;
  border: 1px solid black;
  border-radius: 0.3em;
}

/* .plan-price::after {
  content: "/mo";
  font-size: 0.75rem;
  color: #777;
} */
.feature {
  margin-bottom: 0.5rem;
  text-align: center;
}

.feature.inactive {
  color: #777;
  text-decoration: line-through;
}

.feature:last-child {
  margin-bottom: 0;
}

.btn-grow {
  -webkit-animation: btn-grow-enter var(--btn-grow-duration) var(--btn-grow-delay) backwards;
          animation: btn-grow-enter var(--btn-grow-duration) var(--btn-grow-delay) backwards;
}

.btn-grow:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 2px 5px 1px var(--taktik-red);
          box-shadow: 0 2px 5px 1px var(--taktik-red);
}

::-webkit-scrollbar {
  width: 0;
}

#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(var(--taktik-red)), to(var(--taktik-pale-red)));
  background: linear-gradient(to top, var(--taktik-red), var(--taktik-pale-red));
}

#progressbar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(var(--taktik-red)), to(var(--taktik-pale-red)));
  background: linear-gradient(to top, var(--taktik-red), var(--taktik-pale-red));
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

#progressbar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(var(--taktik-red)), to(var(--taktik-pale-red)));
  background: linear-gradient(to top, var(--taktik-red), var(--taktik-pale-red));
  -webkit-filter: blur(30px);
          filter: blur(30px);
}

@-webkit-keyframes scroll-down-bounce {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes scroll-down-bounce {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@-webkit-keyframes shake {
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@keyframes shake {
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@-webkit-keyframes title-enter {
  from {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

@keyframes title-enter {
  from {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

@-webkit-keyframes sub-title-enter {
  from {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
}

@keyframes sub-title-enter {
  from {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
}

@-webkit-keyframes nav-enter {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes nav-enter {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@-webkit-keyframes btn-grow-enter {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes btn-grow-enter {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes scroll-down-enter {
  from {
    -webkit-transform: scale(0) rotate(180deg);
            transform: scale(0) rotate(180deg);
  }
}

@keyframes scroll-down-enter {
  from {
    -webkit-transform: scale(0) rotate(180deg);
            transform: scale(0) rotate(180deg);
  }
}

@-webkit-keyframes glow-anim {
  0%,
  100% {
    text-shadow: 0 0 0px #cc181e, 0 0 0px #cc181e, 0 0 0px #cc181e, 0 0 0px #cc181e, 0 0 0px #cc181e;
  }
  50% {
    text-shadow: 0 0 10px #cc181e, 0 0 20px #cc181e, 0 0 40px #cc181e, 0 0 80px #cc181e, 0 0 160px #cc181e;
  }
}

@keyframes glow-anim {
  0%,
  100% {
    text-shadow: 0 0 0px #cc181e, 0 0 0px #cc181e, 0 0 0px #cc181e, 0 0 0px #cc181e, 0 0 0px #cc181e;
  }
  50% {
    text-shadow: 0 0 10px #cc181e, 0 0 20px #cc181e, 0 0 40px #cc181e, 0 0 80px #cc181e, 0 0 160px #cc181e;
  }
}

@-webkit-keyframes scroll-anim {
  0%,
  100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(90deg);
            filter: hue-rotate(90deg);
  }
}

@keyframes scroll-anim {
  0%,
  100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(90deg);
            filter: hue-rotate(90deg);
  }
}

@media (max-width: 700px) {
  .under-construction {
    padding: 5%;
    margin: 1%;
  }
  .under-construction p {
    font-size: 0.75rem;
  }
  .curriculum-grid {
    -ms-grid-columns: minmax(auto, 450px);
        grid-template-columns: minmax(auto, 450px);
    row-gap: 30px;
  }
  .full-screen-header {
    background-position-x: 25%;
  }
  .title {
    font-size: 2rem;
    margin-top: 20%;
  }
  .sub-title,
  .section-title {
    font-size: 1.25rem;
  }
  .pricing-cards-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .pricing-card,
  .pricing-card.accent {
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
  }
  .pricing-card:first-child,
  .pricing-card:last-child {
    border-radius: 0.3em;
    border-right: 1px solid black;
    border-left: 1px solid black;
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  .pricing-card:last-child {
    margin-bottom: 0;
  }
  .feature {
    text-align: center;
  }
  .feature.inactive {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */