@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  --title-duration: 500ms;
  --sub-title-duration: 500ms;
  --nav-duration: 200ms;
  --btn-grow-duration: 200ms;
  --scroll-down-duration: 200ms;

  --sub-title-delay: calc(var(--title-duration) - 200ms);
  --nav-delay: calc(var(--sub-title-delay) + var(--sub-title-duration));
  --btn-grow-delay: var(--nav-delay);
  --scroll-down-delay: var(--nav-delay);

  --taktik-red: #cc181e;
  --taktik-pale-red: #e73238;
  --taktik-black: #121316;
  --taktik-dark-grey: #1e1f24;
  --taktik-grey: #121316;
  --taktik-full-black: #000000;
  --taktik-full-white: #ffffff;
  --taktik-pale-grey: #c7c8cb;

  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--taktik-black);
}

.full-screen-header {
  height: 100vh;
  background-image: url("../images/shutterstock_1151254004-lg.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;

  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  text-align: center;

  // color: white;
  color: var(--taktik-red);
  position: relative;
  overflow: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--taktik-black);
  padding: 0.5rem 1rem;
}

.nav-top {
  /* position: fixed; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  animation: nav-enter var(--nav-duration) var(--nav-delay) backwards;
}

.logo {
  width: 50px;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.nav-list a {
  text-decoration: none;
  margin-left: 1rem;
  color: white;

  transition: color 100ms;
}

.nav-list a:hover {
  color: #ccc;
}

.title {
  // color: white;
  font-size: 5rem;
  margin: 10% 0 0 0;
  // -webkit-text-stroke: 0.5px var(--taktik-full-black); //TODO: Delete if the same than glow

  // animation: title-enter var(--title-duration);
}

.glow {
  font-family: "Michroma", sans-serif;

  text-transform: uppercase;
  filter: blur(0.75px);
  font-weight: 100;
  text-shadow: 0 0 10px rgba(204, 24, 30, 1), 0 0 20px rgba(204, 24, 30, 1),
    0 0 40px rgba(204, 24, 30, 1), 0 0 80px rgba(204, 24, 30, 1),
    0 0 160px rgba(204, 24, 30, 1);

  // -webkit-text-stroke: 0.5px var(--taktik-full-black);

  animation: glow-anim 2.5s ease-in-out infinite;
}

.neon-red {
  font-family: "Michroma", sans-serif;

  text-transform: uppercase;
  filter: blur(0.75px);
  font-weight: 100;
  text-shadow: 0 0 10px rgba(204, 24, 30, 1), 0 0 20px rgba(204, 24, 30, 1),
    0 0 40px rgba(204, 24, 30, 1), 0 0 80px rgba(204, 24, 30, 1),
    0 0 160px rgba(204, 24, 30, 1);

  // -webkit-text-stroke: 0.5px var(--taktik-full-black);
}

.neon-white {
  font-family: "Michroma", sans-serif;

  text-transform: uppercase;
  filter: blur(0.75px);
  font-weight: 100;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1),
    0 0 40px rgba(255, 255, 255, 1), 0 0 80px rgba(255, 255, 255, 1),
    0 0 160px rgba(255, 255, 255, 1);

  // -webkit-text-stroke: 0.5px var(--taktik-full-black);
}

.sub-title {
  font-size: 2.5rem;
  margin-top: 0.3rem;
  margin-bottom: 1rem;

  animation: sub-title-enter var(--sub-title-duration) var(--sub-title-delay)
    backwards;
}

.btn {
  background-color: hsl(358, 73%, 49%);
  color: white;
  border-radius: 5px;
  padding: 0.25em 1em;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: inherit;

  transition: 100ms;
}

.btn:hover,
.btn:focus {
  background-color: hsl(358, 73%, 59%);
}

.nav-icon {
  width: 30px;
}

.scroll-down-icon {
  position: absolute;
  bottom: 0;
  width: 60px;

  animation: scroll-down-bounce
      calc(var(--scroll-down-duration) + var(--scroll-down-delay)) 1s alternate
      infinite linear,
    scroll-down-enter var(--scroll-down-duration) var(--scroll-down-delay)
      backwards;
}

.section {
  color: var(--taktik-pale-grey);
  background-color: var(--taktik-black);
  padding: 4rem;
}

.section-title {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  text-align: center;
  color: var(--taktik-red);
  // -webkit-text-stroke: 0.25px var(--taktik-pale-grey);
}

.section-title.accent {
  color: var(--taktik-full-white);
}

.curriculum-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 450px));
  justify-content: center;
  row-gap: 10px;
  column-gap: 50px;
}

.curriculum-grid-item {
  display: flex;
  align-items: center;
}
.curriculum-grid a {
  text-decoration: none;
  /* color: black; */
  color: hsl(200, 100%, 30%);

  transition: 250ms;
}

.curriculum-grid a:hover {
  color: hsl(200, 100%, 50%);
  /* transform: scale(1.01); */
}

.curriculum-grid-item:hover img {
  animation: shake 100ms;
}

.curriculum-grid-item img {
  width: 50px;
  margin-right: 1rem;
}

.section-accent {
  // background-color: var(--taktik-red);
  background: url("../images/shutterstock_511268581-lg.jpg");
  background-size: cover;
  background-position: center;
}

.form {
  max-width: 900px;
  margin: 0 auto;
}

.form label {
  color: var(--taktik-pale-grey);
  font-weight: bold;
}

.form input,
.form textarea {
  width: 100%;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  outline: none;
  border: 1px solid #1b2522;
  border-radius: 0.3em;
  padding: 0.5em;
  color: inherit;
  font-family: inherit;

  transition: border-color 100ms;
}

.form textarea {
  resize: vertical;
  min-height: 75px;
  max-height: 200px;
}

.form input:focus,
.form textarea:focus {
  border-color: var(--taktik-red);
}

.btn-container {
  text-align: end;
}

.btn-square {
  border-radius: 0.3em;
}

.pricing-cards-container {
  display: flex;
  justify-content: center;
}

.pricing-card {
  padding: 1rem;
  background-color: var(--taktik-black);
  // background: url("../images/shutterstock_511268581-sm.jpg");
  border: 1px solid black;
  border-radius: 0.3em;
  margin: 1rem 0;
  max-width: 50vh;
  color: var(--taktik-pale-grey);

  transition: transform 100ms;
}

.pricing-card:hover {
  transform: scale(1.05);
}

.pricing-card.accent {
  // background-color: white;
  margin: 0;
}

.pricing-card:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  transform-origin: right;
}

.pricing-card:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  transform-origin: left;
}

.price-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.plan-name {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.plan-price {
  font-size: 1.25rem;
  font-weight: bold;
}

.plan-image {
  max-width: 90%;
  margin-top: 1.5rem;
  border: 1px solid black;
  border-radius: 0.3em;
}

/* .plan-price::after {
  content: "/mo";
  font-size: 0.75rem;
  color: #777;
} */

.feature {
  margin-bottom: 0.5rem;
  text-align: center;
}

.feature.inactive {
  color: #777;
  text-decoration: line-through;
}

.feature:last-child {
  margin-bottom: 0;
}

.btn-grow {
  animation: btn-grow-enter var(--btn-grow-duration) var(--btn-grow-delay)
    backwards;
}

.btn-grow:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 5px 1px black;
}

//! Neon Scroll Progress Bar
::-webkit-scrollbar {
  width: 0;
}

#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
    height: 100%;

  background: linear-gradient(to top, var(--taktik-red), var(--taktik-pale-red));
  // animation: scroll-anim 5s linear infinite;
}

#progressbar:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, var(--taktik-red), var(--taktik-pale-red));
  filter: blur(10px);
}

#progressbar:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, var(--taktik-red), var(--taktik-pale-red));
  filter: blur(30px);
}

//! Animations Keyframes
@keyframes scroll-down-bounce {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10px);
  }
}

@keyframes shake {
  25% {
    transform: rotate(5deg);
  }

  75% {
    transform: rotate(-5deg);
  }
}

@keyframes title-enter {
  from {
    transform: translateX(-100vw);
  }
}

@keyframes sub-title-enter {
  from {
    transform: translateX(100vw);
  }
}

@keyframes nav-enter {
  from {
    transform: translateY(-100%);
  }
}

@keyframes btn-grow-enter {
  from {
    transform: scale(0);
  }
}

@keyframes scroll-down-enter {
  from {
    transform: scale(0) rotate(180deg);
  }
}

@keyframes glow-anim {
  0%,
  100% {
    text-shadow: 0 0 0px rgba(204, 24, 30, 1), 0 0 0px rgba(204, 24, 30, 1),
      0 0 0px rgba(204, 24, 30, 1), 0 0 0px rgba(204, 24, 30, 1),
      0 0 0px rgba(204, 24, 30, 1);
  }
  50% {
    text-shadow: 0 0 10px rgba(204, 24, 30, 1), 0 0 20px rgba(204, 24, 30, 1),
      0 0 40px rgba(204, 24, 30, 1), 0 0 80px rgba(204, 24, 30, 1),
      0 0 160px rgba(204, 24, 30, 1);
  }
}

@keyframes scroll-anim {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(90deg);
  }
}

//! Mobile View
@media (max-width: 700px) {
  .curriculum-grid {
    grid-template-columns: minmax(auto, 450px);
    row-gap: 30px;
  }

  .full-screen-header {
    background-position-x: 25%;
  }

  .title {
    font-size: 3rem;
    margin-top: 20%;
  }

  .sub-title,
  .section-title {
    font-size: 2rem;
  }

  .pricing-cards-container {
    flex-wrap: wrap;
  }

  .pricing-card,
  .pricing-card.accent {
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
  }

  .pricing-card:first-child,
  .pricing-card:last-child {
    border-radius: 0.3em;
    border-right: 1px solid black;
    border-left: 1px solid black;
    transform-origin: center;
  }

  .pricing-card:last-child {
    margin-bottom: 0;
  }

  .feature {
    text-align: center;
  }

  .feature.inactive {
    display: none;
  }
}
